<%= form_for(service) do |f| %>
<% if service.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

	<ul>
		<% service.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :name, "Name of the service. Usually provided by the social Network" %>
	<br>
	<%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
	<%= f.label "Send alert on email after an automatic message ?" %>
	
	<%= f.check_box :email_alert %>
	
</div>
<div class="form-group">
	<%= f.label "Activate the automatic following of people tweeting on the tags" %>
	
	<%= f.check_box :automatic_follow %>
	
</div>
<div class="form-group">
	<%= f.label :tags, "Tags to follow" %> <i> Separate by commas</i>
	<br>
	<%= f.text_area :tags, :class => "form-control" %>
</div>

<div class="actions text-center">
	<% if service.new_record? %>
	<%= f.submit "Create", :class => "btn btn-success btn-lg" %>
	<% else %>
	<%= f.submit "Update", :class => "btn btn-success btn-lg" %>
	<% end %>
</div>
<% end %>