<div class="panel panel-default">
	<div class="panel-heading first-uppercase size-18">
		<b class=""><%= link_to service.full_name , service %></b>
	</div>
	<div class="panel-body">
		<b>Name of the account: </b><%= service.name %>
		<br />
		<b>Added date: </b><%= l service.created_at %>
		<br/>
		<strong>Service token : </strong> <%= service.service_token%></span>

	</div>
	<div class="panel-footer">
		Messages : <span class="label label-info size-14"><%= service.messages.size %></span>
	</div>
</div>