<h1 class="page-header text-center">SocialPresence</h1>

<h2 class="page-header">Description</h2>
<div class="alert alert-info" role="alert">
	Social presence enables you to connect social networks to your socialpresence account and to automate through API the delivery of social messages.
	It permits to several apps to send messages requests and to deliver them to the network.
</div>

<h2 class="page-header">Connexion</h2>
<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>.
<%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-warning" %> 
<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %> 
<%= link_to "Login", new_user_session_path, class: "btn btn-info" %>
<% end %>

